.wrapper
  = render "header"
  .wrapper-image        
    .wrapper-mask        
      .articles-wrapper
        .articles-header
          = fa_icon 'thumbs-o-up', class: 'nav-menu__thumb-icon'
          オススメの献血ルーム紹介
        .articles-main-wrapper
          - @articles.each do |article|
            .article-box
              .article-image
                = image_tag (article.image.to_s), class: "article-image"
              .article-body
                .article-body__title.bold
                  - if article.title.blank?
                    = "no title"
                  - else
                    = article.title
                .article-body__text
                  = article.text
          = paginate @articles
  .other-contents-wrapper
    .other-contents-left
      .reservation
        .left-days
          200ml献血は 
          %span{style:  "font-size:2em;"}●月●日 
        .left-days
          400ml献血、成分献血は
          %span{style: "font-size:2em;"}■月■日
        .left-days
          から可能です
        .donated-check
          .donated-check__message
            献血が終わったら ここをクリック！→
          = form_with model: @user, url: root_path, method: :get, id: 'donated_user', class: 'donated_user', local: true do |f|
            = f.submit "献血した！", class: "donated-check__button", value: "献血した！"
      .show-donation
        .donation-mask
          .show-donation__frequency
            ◯◯さんはこれまでに
            %span{style:  "font-size:2.5em;"}××回
          .show-donation__frequency
            献血しています
          .show-donation__detail
            .show-donation__detail__button
              データを見る
    .other-contents-right
      %h2 
      #map
      :css
        #map{
          height: 400px;
          width:350px;
          float:right;
        }
      :javascript
        function initMap(){
          let map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 34.661282, lng: 135.501132}, 
          zoom: 14
          });
        }
      %script{async: "", defer: "defer", src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyCHRwzVB85oCj39gMjzRaE-Hi5EVtwryAc&callback=initMap"}
      
      .fortune-telling
        .fortune-telling__text.bold
          血液型占いにチャレンジしてみよう！
        .fortune-telling__button
          =link_to "やってみる→", root_path, class: "fortune-telling__button"    
