.wrapper
  =render "header"
  .write-wrapper
    = form_with model: @article, url: articles_path, local: true do |f|
      .write-main
        .write-title
          お気に入りルームを教える
        .article-fields  
          .article-title
            = f.text_field :title, autofocus: true, autocomplete: "title", placeholder: "記事タイトル", class: "input-title"
          .article-text
            = f.text_area :text, autofocus: true, autocomplete: "text", placeholder: "オススメポイントを書こう！", class: "input-article"
          .article-field
            .submit-image
              = fa_icon 'picture-o', class: 'icon'
              = f.file_field :image, class: 'article-file'
            .submit.bold
              = f.submit "投稿する", class: 'article-button'