.signin-wrapper
  = render "devise/shared/error_messages", resource: resource
  .signup-main
    = form_with model: @user, url: root_path, method: :get, id: "new_user", class: "new_user", local: true do |f|
      .signup-title
        = fa_icon "users", class: 'signup-title__icon'
        Share blood
      .fields  
        .field
          = f.text_field :nickname, autocomplete: "nickname", placeholder: "nickname", class: "input-default"
        .field
          = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "your Email", class: "input-default"
        .field
          = f.password_field :password, autocomplete: "new-password", placeholder: "registered pass", class: "input-default"
        .submit.bold
          = f.submit "Log in", class: 'input-default__signin'
        .links
          = render "devise/shared/links"
          .return
            =link_to "トップに戻る", root_path, class: "return"
